<ion-header>
  <ion-toolbar>
    <ion-title>G00438791</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/settings">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Enter Country</ion-label>
    <ion-input  name="countryName" [(ngModel)]="searchQuery" placeholder="Country Name"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="searchCountries()">Search</ion-button>
</ion-content>
